:root {
  --accent-primary: #F59B21;
  --accent-secondary: #17242D;
  --accent-tertiary: #D6810A;
  /* Adjusted to be in the same warm color family */
  --accent-quaternary: #3B362F;
  /* Adjusted to be a darker shade */
  --accent-quinary: #2E2720;
  /* Adjusted to be a darker shade */
  --accent-senary: #1F1F1F;
  /* Adjusted to be a neutral shade */
  --accent-septenary: #464646;
  /* Adjusted to be a darker shade */
  --accent-octonary: #4C4A3D;
  /* Adjusted to be a darker shade */
  --accent-nonary: #343434;
  /* Adjusted to be a neutral shade */
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 1px 1px 3px black;
}

html {
  scroll-behavior: smooth;
}

body.nav-open {
  overflow: hidden;
}

#body-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.75);
  z-index: 4;
  pointer-events: none;
}

#body-overlay.activate {
  opacity: 1;
}

.bg-accent {
  background: var(--accent-primary);
}

a.bg-accent:hover {
  background: var(--accent-secondary);
}

.bg-accent-secondary {
  background: var(--accent-secondary);
}

.bg-accent-tertiary {
  background: var(--accent-tertiary);
}

.bg-accent-quaternary {
  background: var(--accent-quaternary);
}

.bg-accent-quinary {
  background: var(--accent-quinary);
}

.bg-accent-senary {
  background: var(--accent-senary);
}

.bg-accent-septenary {
  background: var(--accent-septenary);
}

.bg-accent-octonary {
  background: var(--accent-octonary);
}

.bg-accent-nonary {
  background: var(--accent-nonary);
}

a.bg-accent-secondary:hover {
  background: var(--accent-primary);
}

.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.br-0 {
  border-radius: 0;
}

.br-25 {
  border-radius: 25px;
}

.b-0 {
  border: 0;
}

.border {
  border: 3px solid white !important;
}

.border.accent {
  border: 1px solid #1b75ba !important;
}

a.border.accent:hover {
  background: #1b75ba;
  color: white;
  transition: all 0.25s ease-in-out;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.overflow-h {
  overflow: hidden;
}

.pen {
  pointer-events: none;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

hr.text-white {
  border-color: white;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.overlay.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.divider {
  border-top: 2px solid var(--accent-primary);
  width: 200px;
  margin: 10px auto;
}

.spacer {
  height: 15px;
}

/* content */
.alignleft {
  float: left;
}

.grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 1199px) {
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .desktop-hidden {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .bg-attachment {
    background-attachment: unset !important;
  }
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--accent-primary);
  color: #fff;
}