/* start of header gallery */
.small-gallery .owl-stage-outer {
    width: 35%;
}

.owl-item.active .big-gallery-img {
    animation: bigGalleryImgZoom 10s ease;
}

.small-gallery-img.number-4 {
    object-position: 80%;
}

@keyframes bigGalleryImgZoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@media only screen and (max-width:991px) {
    .hero {
        height: 50vh !important;
    }

    .small-gallery {
        width: 100% !important;
    }

    .small-gallery .owl-stage-outer {
        width: 50%;
    }

    .small-triangle-width {
        width: 50% !important;
    }

    .clip-path-bg {
        clip-path: polygon(75% 0%, 100% 0, 100% 100%, 0% 100%) !important;
        -ms-clip-path: polygon(75% 0%, 100% 0, 100% 100%, 0% 100%) !important;
        -webkit-clip-path: polygon(75% 0%, 100% 0, 100% 100%, 0% 100%) !important;
        -moz-clip-path: polygon(75% 0%, 100% 0, 100% 100%, 0% 100%) !important;
    }

    .clip-path-img {
        clip-path: polygon(77% 0%, 100% 0, 100% 100%, 2% 100%) !important;
        -ms-clip-path: polygon(77% 0%, 100% 0, 100% 100%, 2% 100%) !important;
        -webkit-clip-path: polygon(77% 0%, 100% 0, 100% 100%, 2% 100%) !important;
        -moz-clip-path: polygon(77% 0%, 100% 0, 100% 100%, 2% 100%) !important;
    }
}

/* @media only screen and (max-width:767px) {

    .triangle-carousel-gallery,
    .triangle-carousel-gallery-content {
        min-height: 400px !important;
    }
} */

/* end of header gallery */